@import "./variables.scss";
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: $bg1;
  // color: $text;
  min-height: 100vh;
  width: 100%;
}
