@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

$ubuntu-font: "Ubuntu", sans-serif;

$bg1: rgba(255, 255, 255);
$bg2: rgba(0, 0, 0);

$navbg: #2c2c2c;

$text: rgba(15, 15, 15);
$text2: rgba(240, 240, 240);
$primary: rgba(22, 210, 247);

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$header-height: 72px;
$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

@mixin breakpoint($point) {
  @if $point==md {
    @media (min-width: $md) {
      @content;
    }
  }
}
